[Desktop Entry]
Name=SecCamFlut
Comment=Super Cool
Exec=seccamflut
Icon=${SNAP}/meta/gui/seccamflut.png
Terminal=false
Type=Application
Catagories=Education
